@import './base.css';

html, body {
  height: 100%;
  overflow-x: hidden;
}

#app {
  width: 100%;
  max-width: unset; /* 🧨 remove the constraint */
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
}

@media (min-width: 1024px) {
  body {
    display: block; /* 🧨 stop interfering with layout */
    place-items: unset;
  }

  #app {
    display: block;
    grid-template-columns: unset;
    padding: 0;
  }
}